* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(217, 217, 217);
    font-weight: 500;

}

/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
} */

/* .header {
    text-align: center;
    color: #28334aff;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.print {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.score {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 40px;
}


.holder:hover,


.box-text {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    color: #28334aff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.restart-btn {
    padding: 10px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    background-color: #28334aff;
    border: #28334aff solid 3px;
    border-radius: 8px;
}
 */



/* ajdflk */

.game-contain {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 900;
    height: 600px;
    border: #666626 solid 2px;
    padding: 1rem;
    margin: 0.5rem;
}


.nav-bar {
    display: grid;
    place-items: center;
    margin-top: 1rem;
    padding: 0;
    position: relative;
}

.text {

    font-style: bold;
    font-weight: 90%;
    font-size: 150%;
    padding: 0;
    position: relative;

}

.text:hover {
    left: -5px;
}

@keyframes text {
    from {
        color: red;
    }

    to {
        color: #666626;
    }
}

.display-welcome-text {
    display: grid;
    place-items: center;
    animation-name: text;
    animation-duration: 4s;
    margin: 0rem;
    padding: .5rem;
}

.text-inner {
    font-size: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    position: relative;
}

.text-inner:hover {
    left: -5px;
}

.display-scores {
    display: flex;
    justify-content: center;
    gap: 40px;

}

h3 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3:hover {
    left: -5px
}

.text-holder {
    display: grid;
    place-items: center;
}

.man-score,
.computer-score {
    font-size: 110%;
    position: relative;
}

.man-score:hover,
.computer-score:hover {
    font-size: 130%;
}

.inner-display {
    display: grid;
    place-items: center;
    position: relative;
    margin: 1rem;
}

.inner-text {
    position: relative;
    font-size: 90%;
    height: 20px;
    /* display: none; */
}

.inner-text:hover {
    left: -5px;
}

.selection-container {

    display: flex;
    flex-direction: column;
    height: 300px;
    position: relative;
    background-color: aquamarine;
}

.playground {
    display: grid;
    place-items: center;
    background-color: inherit;
    text-transform: uppercase;
    color: brown;
    margin: 1rem;
}

.man-container {
    height: 120px;
    display: flex;
    justify-content: 1px;
    gap: 38%;
    background-color: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.computer-container {
    height: 120px;
    display: flex;
    justify-content: 1px;
    gap: 38%;
    background-color: inherit;
    margin-bottom: 0;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    gap: 50%;
    background-color: inherit;
}

.text-selection {
    display: grid;
    place-items: center;
    width: 70px;
    background-color: inherit;
}


.buttons-computer,
.buttons {
    background-color: inherit;

}

img {
    background-color: inherit;
    height: 50%;

}

span {
    background-color: inherit;
}

.restart-game {
    margin-top: 0.4rem;
    display: grid;
    place-items: center;
}

 .restart-btn {
    border: brown solid 2px;
    font-size: 90%;
    background-color: brown;
}

.restart-btn:hover {
    color: white;
}